<div class="eventedit center">
	<h2 class="header center orange-text">Events</h2>
	<%= render 'form' %>
	<%= link_to 'Show', @event, class: "waves-effect orange btn" %>
	<%= link_to 'Back', user_event_path(current_user), class: "waves-effect orange btn" %>
</div>
