<div class="eventnew center">
	<div class="col s12 m9 l9"> 
		<h2 class="header center orange-text">Events</h2>
		<%= render 'form' %>
		<%= link_to 'Back', user_event_path(current_user), class: "waves-effect orange btn" %>
	</div>
</div>


