<div class="eventnew">
	<div class="col s12 m9 l9"> 
		<h1>New Event</h1>
		<%= render 'form' %>
		<%= link_to 'Back', user_event_path(current_user), class: "waves-effect orange btn" %>
	</div>
</div>


