<div class="row friendprofile">
	<div class="col s4 m4 l4">
		<%= link_to 'Events', user_event_path(params[:id]), class: "waves-effect orange btn" %>
	</div>
	<div class="col s4 m4 l4">
		<%= link_to "Wishlist", user_wishlist_path(params[:id]), class: "waves-effect orange btn" %>
	</div>
	<div class="col s4 m4 l4">
		<%= link_to 'Friends', friend_path(params[:id]), class: "waves-effect orange btn" %>
	</div>
</div>