<div class="template">
  <div class="row" id="template-container">
    <div class="col s12 m3 l3 orange white-text" id="left-section"> 
      <% @user = User.find(params[:id])%>
      <div class="col s12 m8">
        
        <div class="option_list">
          <ul>
            <li><%= link_to 'Events', user_event_path(@user.id) %></li>
            <li><%= link_to "Wishlist", user_wishlist_path(@user.id) %></li>
            <li><%= link_to 'Friends', friend_path(@user.id)%></li>
          </ul>
          <% # Test %>
          <% # render template: "events/user_index" %>
        </div>
      </div>
    </div>
    <div class="col s12 m9 l9" id="main-panel"> 
      <h5>Testing Feed</h5>
      <%=  render "activities/userfeed" %>
    </div>
  </div> 
</div>




