<div class="profile-page">
	<% if current_user == @user %>
		<%= render "status_update" %>
	<% end %>

	<% if current_user != @user %>
		<%= render "friendprofile" %>
	<% end %>
	<h2 class="header orange-text center"><%= @user.full_name %>'s Profile</h2> 
	<%=  render "activities/userfeed" %>
</div>	