<div class="template">
  <div class="row">
    <div class="leftpanel">
      <div class="col s12 m3 l3 orange white-text"> 
          <h5> Welcome <%=current_user.email %> </h5>

          <div class="create_event">
            <%= link_to 'Show/Create Personal Events', events_path %>
          </div>
          <div class ="wishlist_link">
            <h5>go to your wishlist page <%= link_to "Wishlist", wishlists_path %> Here </a>NOW!</h5>
          </div>
          <div class ="Friend_link">
            <h5>go to the users page <%= link_to "Friendship", friendships_path %> Here </a>NOW!</h5>
          </div>
        </div>  
    </div>

    <div class="mainpanel">
      <div class="col s12 m9 l9"> 
        <h5>Testing Feed</h5>

       </div>
    </div>  
  </div>
</div>
