<div class="col s10 m10 l10" id="welcomepage">
	<div class="slider full">
		<ul class="slides">
			<li>
				<%= image_tag ("img1.jpg")%>
				<div class="caption center-align" id="slidercaption">
					<h2 class="header center orange-text">Welcome to <em>U</em>GiftMe!</h2>
					<h5 class="header col s12 light">Your new location for finding the right gift for the right friend.</h5>
				</div>
			</li>

			<li>
				<%= image_tag ("img2.jpg")%>
				<div class="caption left-align" id="slidercaption">
					<h2 class="header center orange-text">Add Friends.</h2>
					<h5 class="header center col s12 light">Best friends always give GIFTS!</h5>
				</div>
			</li>

			<li>
				<%= image_tag ("img3.jpg")%>
				<div class="caption right-align" id="slidercaption">
					<h2 class="header center orange-text">Create Events and Wishlists!</h2>
					<h5 class="header center col s12 light">Let your Friends know about your upcoming Events, and share your Gift desires with them!</h5>
				</div>
			</li>

			<li>
				<%= image_tag ("img4.jpg")%>
				<div class="caption center-align" id="slidercaption">
					<h2 class="header center orange-text">Check out the Products.</h2>
					<h5 class="header center col s12 light">Want Gift ideas, you can pick from the Products and add them to your Wishlist.</h5>
				</div>
			</li>
		</ul>
	</div>
</div>