@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";
@import url(http://fonts.googleapis.com/css?family=Roboto);

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	display: flex !important;
	min-height: 100vh !important;
	flex-direction: column !important;
	background-image: url("bg2.gif");	
}

main {
	flex: 1 0 auto !important;
}

.main-background img#img1 {
	z-index: -1;
	position: absolute;
}

.main-background img#img2 {
	z-index: -1;
	position: absolute;
	left: 50%
}

.main-background img#img3 {
	z-index: -1;
	position: absolute;
	top: 50%;
}

.main-background img#img4 {
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
}

.nav-wrapper img {
	max-height: 100%;
	max-width: 100%;
}

.picker__date-display {
	background-color: #64B5F6;
}

.picker__weekday-display {
	background-color: #64B5F6;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #64B5F6;
}

.picker__day.picker__day--today, .picker__close, .picker__today {
	color: #64B5F6;
}

[type="checkbox"]:checked + label:before {
	border-right: 2px solid #64B5F6;
    border-bottom: 2px solid #64B5F6;
}

.check_box input[type="checkbox"]{
	left: auto !important;
	opacity: 1 !important;
	z-index: 1;
	 /* All browsers except webkit*/
  transform: scale(2.5);
	/* http://stackoverflow.com/questions/306924/checkbox-size-in-html-css */
  	/* Webkit browsers*/
  -webkit-transform: scale(2.5);
}


.clickbutton{
	display:block;
}


.products-display .card {
	height: 300px;
}

.products-display .card .card-image img {
	height: 200px;
	padding: 25px;
}

.products-display .card .card-action, .card .card-content {
	padding: 0px;
}

.option_list a {
	color: white;
}

.option_list a:hover {
	color: #64B5F6;
}

.card .card-content {
	word-wrap: break-word;
}

#activity-user-details img {
	height: 40px;
	width: 40px;
}

#activity-text-details, #activity-user-details {
	margin-left: 0px;
}

#activity-card {
	padding: 10px;
}

.material-icons, .fa, #dibs-pic {
	vertical-align: middle;
}


#activity-cards {
	margin-left: 5px;
}

nav#navtop.top-nav.light-blue.lighten-1 {
    height: 70px;
    box-shadow: none;
	margin-left: 300px;
}

.side-nav.fixed a {
	color: white;
}

#main-section {
		margin-left: 320px;
		margin-right: 20px;
	}

#mainfooter {
	margin-left: 290px;
}

@media screen and (max-width: 992px){
	#main-section {
		margin-left: 20px;
		margin-right: 20px;
	}

#mainfooter, nav#navtop.top-nav.light-blue.lighten-1 {
		margin-left: 0px;
	}

}

.page-footer p.grey-text.text-lighten-4 {
    text-align: justify;
    padding-right: 10px;
}

.page-footer .board ul li {
	margin: 10px 0 10px 0
}

.page-footer .board span {
	margin-right: 10px;
}

.page-footer a {
	color: white;	
}

.page-footer a:hover {
	color: orange;
}

.page-footer a .fa {
	margin: 0px 6px 0px 6px;
}

nav {
	width: inherit;
}

.side-nav li {
	margin-left: 20px;
}

span#usercard a {
	color: #03a9f4;
}
	
div.usercardimage.center {
	padding-top: 20px;
}

div.usercardimage a.image-link {
	height:150px;
}

div.usercardimage img#profile-pic {
	height:95%;
}

div#usercard.card {
	margin: 20px;
	box-shadow: none;
	
}

div.card-content.center {
	padding: 0;
}

span#usercard p {
	line-height: normal;
}

div.card-reveal p {
	text-align: left;
	margin-left: 20px;
}

.wishlink a.next{
    text-align: right;
}

.wishlink{
    display: flex;
}

.wishlink a {
    display: block;
    flex: 1;
}

.signin div.col.s12.m6.l6, .deviseform div.col.s12.m6.l6, .edit-profile div.col.s12.m6.l6 {
	float: none;
	margin-left: 25% !important;
	text-align: left;
}

.eventshow div.col.s12.m6.l6, .eventedit div.col.s12.m6.l6, .eventform div.col.s12.m6.l6 {
	float: none;
	display: inline-block;
}

.friendprofile div.col.s12.m4.l4 {
	display: inline-block;
	padding: 5px;
}

.userevents div.row {
	margin-top: 20px;
}

.userevents div.card-action.center a {
	margin: 10px;
}

.pagination a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    color:black;
}

.pagination .current {
	display: inline-block;
    font-size: 1.2rem;
    font-size: normal;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
	background-color: #ee6e73;
	color:white;
}

.pagination em {
	font-style: normal;
}

.pagination em.current {
	background-color: #ff9800 !important;
}

.wishlist_form div.col.s12.m6.l6 , .wishlist_show div.col.s12.m6.l6 {
    float: none;
    margin-left: 25%;
    text-align: left;
}

.pagination .disabled {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
}

.user-friends div.card.white, .find-friends div.card.white {
	padding: 20px;
}

.edit-profile div.left {
	margin-left: 25%;
}

.edit-profile div.right {
	margin-right: 25%;
}

.find-friends .card .card-action a, .user-friends .card .card-action a {
	margin-right: 0px !important;
}

#search-card {
	padding: 20px;
}

.modal-footer a {
	margin: 24px !important; 
}

#usercard img:hover {
	background-color: white;
	opacity: 0.3;
}	

.wishlist_form select#wishlist_event_id{
	display:block;
}

.row.friendprofile {
	margin-top: 20px;
}

table {
	background-color: white;
}

div#welcomepage.col.s10.m10.l10 {
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-top: 20px;
}

div#slidercaption {
	background-color: rgba(0, 0, 0, 0.4);
}

#dibs-pic {
	height: 40px;
	width: 40px;
}

.eventshow div.card-title {
	padding: 10px;
}

.side-nav {
	width: 300px;
}

.input-field .prefix.active {
	color: #ff9800;
}

.row.friendprofile.center {
	padding-left: 0px;
}

