<div class = "wishlist_edit center">
	<h2 class="header center orange-text"> Wishlist </h2>

	<%= render 'form' %>
	<%= link_to 'Show', @wishlist , class: "waves-effect orange btn" %> 
	<%= link_to 'Back', :back , class: "waves-effect orange btn" %>
</div>