<h1>Editing Wishlist</h1>

<%= render 'form' %>

<%= link_to 'Show', user_wishlist_path(current_user.id) , class: "waves-effect orange btn" %> 
<%= link_to 'Back', :back , class: "waves-effect orange btn" %>
