<% if not current_user.nil? %>
	<li><%= link_to 'Products', products_path%></li>
	<li><%= link_to 'Events', user_event_path(current_user.id) %></li>
	<li><%= link_to "Wishlist", user_wishlist_path(current_user.id) %></li>
	<li><%= link_to 'Friends', friend_path(current_user.id)%></li>
<% end %>