<ul id="nav-mobile" class="side-nav fixed orange" style="transform: translateX(0%);">
	<%= render 'usercard' %>
	<%= render 'sidenavlinks'%>
</ul>
<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>