<ul id="nav-mobile" class="side-nav fixed orange hide-on-large-only" style="transform: translateX(0%);">
	<%= render 'topnavlinks'%>
</ul>
<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>