<div class="template">
	<div class="row" id="template-container">
		<div class="col s12 m3 l3 orange white-text" id="left-section"> 
			<p>  </p>
		</div>	
		
		<div class="col s12 m9 l9" id="main-section"> 

		</div>  
	</div>
</div>