<div class="template">
	<div class="row">
		<div class="leftpanel">
			<div class="col s12 m3 l3 orange white-text"> 
		  		<p>  </p>
		  	</div>	
		</div>

		<div class="mainpanel">
			<div class="col s12 m9 l9"> 

			</div>
		</div>  
	</div>
</div>